#map {
    position: fixed;
    top: 180px;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
}

@media print {
   .noprint{
       display:none;
   }
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide{ display: none !important; }
}


