#map {
    position: fixed;
    top: 180px;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
}

@media print{
   .noprint{
       display:none;
   }
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}


